obj/
bin/
.vs/

EasySave.Core/obj/
EasySave.Core/bin/

Versions/EasySave_G3_V1/obj/
Versions/EasySave_G3_V1/bin/

Versions/EasySave_G3_V1_1/obj/
Versions/EasySave_G3_V1_1/bin/

Versions/EasySave_G3_V2_0/obj/
Versions/EasySave_G3_V2_0/bin/
